<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smsto" sortOrder="999" translate="label">
            <label>smsto</label>
        </tab>
        <section id="generalsettings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1"
                 translate="label">
            <label>General Settings</label>
            <tab>smsto</tab>
            <resource>Smsto_Sms::config_smsto_sms</resource>
            <group id="smstosettings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1"
                   translate="label">
                <label>SMSto Settings</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment>SMS Notifications enabled or not</comment>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="showreports" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="11" translate="label"
                       type="select">
                    <label>Show Reports</label>
                    <comment>Display the reports tab?</comment>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="showcontacts" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="12" translate="label"
                       type="select">
                    <label>Show Contacts</label>
                    <comment>Display the contacts and lists tab?</comment>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apikey" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label"
                       type="text">
                    <label>API key</label>
                    <comment><![CDATA[
                        To send successful SMS messages, you need a <a href="https://support.sms.to/en/support/solutions/articles/43000571250-account-creation-verification" target="_blank">verified account on SMS.to</a><br/><br/>
                        You can generate, retrieve and manage your <em>API keys</em> or <em>Client IDs &amp; Secrets</em> in your <a href="https://sms.to/app" target="_blank">SMS.to dashboard</a> under the <a href="https://sms.to/app#/api/client" target="_blank" >API Clients</a> section.
                        ]]>
                    </comment>
                    <validate>required-entry</validate>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment><![CDATA[
                        The displayed value of who sent the message <a href="https://intergo.freshdesk.com/a/solutions/articles/43000513909" target="_blank">More info</a>
                        ]]>
                    </comment>
                </field>
                <field id="storemobile" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="6"
                       translate="label" type="text">
                    <label>Store Phone</label>
                    <comment>The phone to receive the SMS notifications. Please add a full number e.g. +35799999999999 Enter comma separated numbers for
                        multiple recipients
                    </comment>
                </field>
            </group>
            <group id="testsmssettings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="7"
                   translate="label">
                <label>Test SMS</label>
                <field id="testsmstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="8"
                       translate="label" type="textarea">
                    <label>Test SMS Text</label>
                    <comment/>
                </field>
                <field id="testmobilenumber" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="9"
                       translate="label" type="text">
                    <label>Test Mobile Number</label>
                    <comment/>
                </field>
                <field id="testsendsms" translate="Send SMS" type="button" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label></label>
                    <frontend_model>Smsto\Sms\Block\System\Config\Button</frontend_model>
                </field>
            </group>
            <group id="profile" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Profile</label>
                <field id="balance" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="11" translate="label"
                       type="text">
                    <label>Balance</label>
                    <frontend_model>Smsto\Sms\Block\System\Config\Balance</frontend_model>
                    <comment/>
                </field>
                <field id="support" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="12" translate="label"
                       type="text">
                    <frontend_model>Smsto\Sms\Block\System\Config\Misc</frontend_model>
                    <comment/>
                </field>
            </group>
        </section>
        <section id="smstriggers" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="13" translate="label">
            <label>SMS Triggers</label>
            <tab>smsto</tab>
            <resource>Smsto_Sms::config_smsto_sms</resource>
            <group id="neworder" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="19" translate="label">
                <label>New Order</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="21"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment/>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="22" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}
                    </comment>
                </field>
                <field id="adminnotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="23"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="newshipment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="24"
                   translate="label">
                <label>New Shipment</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="25" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="26"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment/>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="27" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}, {Carrier}, {TrackingNumber}
                    </comment>
                </field>
                <field id="adminnotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="28"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="shipmentupdates" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="24"
                   translate="label">
                <label>Shipment Updates</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="25" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="26"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment/>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="27" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}, {Carrier}, {TrackingNumber}
                    </comment>
                </field>
                <field id="adminnotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="28"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="orderhold" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="29" translate="label">
                <label>Order Hold</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="31"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}
                    </comment>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="32" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment/>
                </field>
                <field id="adminnotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="33"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="orderunhold" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="34"
                   translate="label">
                <label>Order Unhold</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="35" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="36"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}
                    </comment>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="37" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment/>
                </field>
                <field id="adminnotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="38"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="ordercancel" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="39"
                   translate="label">
                <label>Order Cancel</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="41"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment/>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="42" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}
                    </comment>
                </field>
                <field id="adminnotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="43"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="refundorder" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="44"
                   translate="label">
                <label>Refund Order</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="45" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="46"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment/>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="47" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}
                    </comment>
                </field>
                <field id="adminnotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="48"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="orderpaid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="49" translate="label">
                <label>Order Paid</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label"
                       type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="senderid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="51"
                       translate="label" type="text">
                    <label>Sender ID</label>
                    <comment/>
                </field>
                <field id="smstext" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="52" translate="label"
                       type="textarea">
                    <label>SMS Text</label>
                    <comment>You can use: {CustomerFirstName},
                        {CustomerLastName},{CustomerTelephone}, {CustomerEmail},
                        {OrderNumber}, {OrderCurrency}, {OrderTotal}, {OrderDate}
                        {OrderTime}, {OrderStatus}
                    </comment>
                </field>
                <field id="adminotify" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="53"
                       translate="label" type="select">
                    <label>Send Admin Notification</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
